counter_to_global
[{"id":"429a8669.57c6b8","type":"inject","z":"9856e6a4.64d078","name":"Input","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":133,"y":187,"wires":[["8e1a2d85.8808b"]]},{"id":"8e1a2d85.8808b","type":"function","z":"9856e6a4.64d078","name":"Counter","func":"if(msg.payload == 1){\n    if(context.hasOwnProperty(\"counter\"))\n        context.counter += 1;\n    else\n        context.counter = 1;\n    context.global.counter = context.counter;\n    msg.payload = context.counter;\n}\nelse{\n    context.counter = 0;\n    context.global.counter = 0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":373,"y":187,"wires":[["e37f7a9e.0f7f48"]]},{"id":"e37f7a9e.0f7f48","type":"debug","z":"9856e6a4.64d078","name":"","active":true,"console":"false","complete":"payload","x":590,"y":188,"wires":[]},{"id":"42719bc9.101934","type":"inject","z":"9856e6a4.64d078","name":"Clear","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":132,"y":243,"wires":[["8e1a2d85.8808b"]]}]
