drumps_all_gbVars_2_debug
[{"id":"66dee884.d3e2d8","type":"inject","z":"f2fa3d54.17c9f","name":"trigger","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":205,"y":155,"wires":[["14020e42.4751d2"]]},{"id":"14020e42.4751d2","type":"function","z":"f2fa3d54.17c9f","name":"dump: context.global ","func":"// dumps all vars in context.global \nvar objs = \"context.global: \";\n\nfor(var index in context.global) { \n   if(typeof context.global[index] == \"object\"){\n     \tobjs +=  \" \" + showKeys(index,context.global[index]);\n\t} else {\n\t   objs += \" \"+ index+\":\"+context.global[index]+\" , \"; \n\t}\n}\n\nfunction showKeys(parent,keys){\n   \tvar tkeys=\"\";\n   \tfor(var subIndex in keys) { \n\t\tif(typeof context.global[parent][subIndex] == \"object\"){\t\t\n\t\t\ttkeys += \" \"+ showKeysKeys(subIndex,context.global[parent][subIndex],parent);\n\t\t} else {\n\t\t\ttkeys += \" \"+ parent+\".\"+subIndex+\": \"+context.global[parent][subIndex]+\", \";\t\n\t\t}\n\t}\n\treturn tkeys;\n}\n\nfunction showKeysKeys(parent,keys,pp){\n   \tvar tkeys =\"\";\n   \tfor(var subIndex in keys) { \n\t\t\ttkeys += \" \"+pp+\".\"+parent+\".\"+subIndex+\": \"+context.global[pp][parent][subIndex]+\", \";\t\n\t}\n\treturn tkeys;\n}\n\nmsg.payload = objs;\nreturn msg;","outputs":1,"noerr":0,"x":447,"y":154,"wires":[["8be0d1c4.85f78"]]},{"id":"8be0d1c4.85f78","type":"debug","z":"f2fa3d54.17c9f","name":"show","active":true,"console":"false","complete":"payload","x":664,"y":154,"wires":[]},{"id":"16b0c111.50e38f","type":"inject","z":"f2fa3d54.17c9f","name":"delete var","topic":"all","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":201,"y":190,"wires":[["ce293854.5c2818"]]},{"id":"ffcaf4d0.813158","type":"function","z":"f2fa3d54.17c9f","name":"Set vars example","func":"context.global.myvar = \"foo\";\ncontext.global.myarry = [\"foo\",\"/\",\"bar\"];\ncontext.global.debug = context.global.debug || {state:0, statePrevious: {pa:1,pb:2,pc:3}, darry: [0,1,2,3] };","outputs":1,"noerr":0,"x":447,"y":226,"wires":[["8be0d1c4.85f78"]]},{"id":"fa9205d0.2ded28","type":"inject","z":"f2fa3d54.17c9f","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":205,"y":227,"wires":[["ffcaf4d0.813158"]]},{"id":"ce293854.5c2818","type":"function","z":"f2fa3d54.17c9f","name":"delete vars from global.context","func":"// Delete vars\nif(msg.topic!=\"\"){ \n\tif(msg.topic.toLowerCase() == \"all\"){\n\t\tfor(var index in context.global) { \n\t\t\tdelete context.global[index];\n\t\t}\n\t} else {\n\t\tfor(var index in context.global) { \n\t\t\tif(index == msg.topic){\n\t\t\t\tdelete context.global[index];\n\t\t\t}\n\t\t}\n\t}\n}","outputs":1,"noerr":0,"x":419,"y":189,"wires":[["8be0d1c4.85f78"]]}]
