get_global_4_present
[{"id":"7e46226c.e9ad8c","type":"inject","z":"a7b6a101.4c6e4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":253.99996948242188,"y":278.2221984863281,"wires":[["726c951c.857e9c"]]},{"id":"680e9bdf.144384","type":"debug","z":"a7b6a101.4c6e4","name":"","active":true,"console":"false","complete":"false","x":702,"y":276.2221984863281,"wires":[]},{"id":"726c951c.857e9c","type":"function","z":"a7b6a101.4c6e4","name":"show hello global","func":"msg.payload = \"Global value = \" + context.global.helloGlobal;\nreturn msg;","outputs":1,"noerr":0,"x":450.9999694824219,"y":278.2221984863281,"wires":[["680e9bdf.144384"]]}]
