getCounterFromGlobal
[{"id":"e34c444.ec205b8","type":"inject","z":"a7cba1e.bcc826","name":"Input","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":148,"y":182,"wires":[["e6cec60d.f244e8"]]},{"id":"e6cec60d.f244e8","type":"function","z":"a7cba1e.bcc826","name":"getGlobal","func":"msg.payload = context.global.counter;\nreturn msg;","outputs":1,"noerr":0,"x":345,"y":177,"wires":[["cbb9a027.3b563"]]},{"id":"cbb9a027.3b563","type":"debug","z":"a7cba1e.bcc826","name":"","active":true,"console":"false","complete":"false","x":608,"y":177,"wires":[]}]
