set_global_4_present
[{"id":"2dc340d1.b4be7","type":"inject","z":"eda4943c.755ea8","name":"","topic":"","payload":"Hello from flow 1","payloadType":"str","repeat":"","crontab":"","once":false,"x":194,"y":169,"wires":[["6036b15.3c0315"]]},{"id":"ab5a0112.7fc57","type":"debug","z":"eda4943c.755ea8","name":"","active":true,"console":"false","complete":"false","x":697,"y":162,"wires":[]},{"id":"6036b15.3c0315","type":"function","z":"eda4943c.755ea8","name":"set hello global","func":"context.global.helloGlobal = msg.payload;\nmsg.payload = \"successful\"\nreturn msg;","outputs":1,"noerr":0,"x":451,"y":173,"wires":[["ab5a0112.7fc57"]]}]
